NODE_ENV=test

APP_PORT=3001

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=property_user
DB_PASSWORD=your_test_database_password
DB_DATABASE=property_management_test

JWT_ACCESS_TOKEN_SECRET=replace_with_a_distinct_test_secret_at_least_32_chars
JWT_ACCESS_TOKEN_EXPIRES_IN=1h
